<div>
	<div class="row logo">
		<div class="col-4">
			<img src="app/media/logo.png">
		</div>
		<div class="col-8"></div>
	</div>
	<div class="row title-tub-amoniaco">
		<div class="col-12 text-center mt-3">
			<p>Selección de tuberías de Amoníaco</p>
		</div>
	</div>
	<h4 class="text-center mt-1">Seleccionar el sistema</h4>
	<div class="row p-5">
		<div class="card col-4" style="width: 20rem;">
			<img src="app/media/expansion_directa.JPG" alt="Card image cap">
			<div class="card-block">
				<h4 class="card-title">
				<a href="#" ui-sref="seleccion_evaporadores({type: 'expansion_directa'})" class="btn btn-primary">Expansion directa</a></h4>
				
			</div>
		</div>
		<div class="card col-4" style="width: 20rem;">
			<img src="app/media/recirculado.JPG" alt="Card image cap">
			<div class="card-block">
				<h4 class="card-title"><a href="#" ui-sref="seleccion_evaporadores({type: 'recirculado'})" class="btn btn-primary">Recirculado</a></h4>
				
			</div>
		</div>
		<div class="card col-4" style="width: 20rem;">
			<img src="app/media/inundado.JPG" alt="Card image cap">
			<div class="card-block">
				<h4 class="card-title"><a href="#" ui-sref="seleccion_evaporadores({type: 'inundado'})" class="btn btn-primary">Inundado</a></h4>
			</div>
		</div>
	</div>
	<div class="row title-tub-amoniaco">
		<div class="col-12 text-center mt-3">
			<p>Crear diagrama P&ID</p>
		</div>
		<<img class="pid" src="app/media/pid.jpg" alt="">
	</div>
</div>