<div class="p-4 sel-evap" ng-controller="evap as evap">
	<button  class="btn btn-primary" ui-sref="home">Volver</button>
	<div class="row">
		<div class="col-6">
			<span>Componente seleccionado:</span>
			<button class="btn btn-secondary" >Cambiar nombre</button>
			<button class="btn btn-secondary"><i class="fa fa-times"></i>Eliminar</button>
		</div>
		<div class="col-6">
			<span>Captura de Pantalla:</span>
			<div class="row">
			  <button class="btn btn-secondary col-4" >Ver lista de válvulas</button>
			  <button class="btn btn-secondary col-4" >Copiar lista de válvulas</button>
			  <button class="btn btn-secondary col-4" >Imprimir Lista de válvulas</button>
			</div>
		</div>
	</div>
	<div class="row sistemas">
		<button class="btn" ng-repeat="(el,key) in evap.tabs">Sistema {{key}}</button>
		<button class="btn" ng-click="evap.onNewTab()">Nuevo</button>
	</div>
	  <evaporadores></evaporadores>
	</div>