<div class="p-4 sel-evap" ng-controller="evap as evap">
	<button  class="btn btn-primary" ui-sref="home">Volver</button>
	<div class="row">
		<div class="col-6">
			<span>COMPONENTE SELECCIONADO:</span>
			<button class="btn btn-secondary" >Cambiar nombre</button>
		</div>
		<div class="col-6">
			<span>CAPTURA DE PANTALLA:</span>
			<div class="row">
			  <button class="btn btn-secondary col-4" >Ver lista de válvulas</button>
			  <button class="btn btn-secondary col-4" >Copiar lista de válvulas</button>
			  <button class="btn btn-secondary col-4" >Imprimir Lista de válvulas</button>
			</div>
		</div>
	</div>
	<div class="row sistemas">
		<button class="btn tab" ng-repeat="(el,key) in evap.tabs">Sistema {{key}} <span ng-if='key>1' class=" tab" ng-if="evap.tabs.length > 1" ng-click="evap.deleteTab()">X</span></button>
		<button class="btn tab" ng-click="evap.onNewTab()">Nuevo</button>
	</div>
	  <evaporadores></evaporadores>
	</div>