html,
body {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Roboto', -apple-system, 'Helvetica Neue', Helvetica, sans-serif;
}

header {
	position: absolute;
	width: 500px;
	height: 250px;
	top: 50%;
	left: 50%;
	margin-top: -125px;
	margin-left: -250px;
	text-align: center;
}

header h1 {
	font-size: 60px;
	font-weight: 100;
	margin: 0;
	padding: 0;
}

.logo {
	background-image: url(app/media/mountain.jpg);
}

.logo img {
	width: 100%;
}
.title-tub-amoniaco {
	background-color: #000daa;
	color: white;
}

.sel-evap {
  background-image: url(app/media/poeta.jpg);	
}

.sel-evap-img {
	width: 100%;
    border: 2px solid #000daa;
}

.sel-evap-directiva {
	background-color: #ececec;
}

.sel-evap .sistemas button {
	background-color: #d6d6d6;
    border: 1px solid grey;
    border-radius: 0px 10px 1px 0px;
    padding: 2px;
    margin: 1px;
}

.tab {
	background: #000daa !important;
    color: white;
    padding: 10px !important;
    border: none !important;
}

.rejilla {
	border: 1px solid #000000 !important;
    background-color:  white;
}

.title-rejas {
    background-color: #000daa;
    color: white;
}

.table-bordered th, .table-bordered td {
	border: 1px solid black !important;
}

.valvulas-title {
    background-color: #000daa;
    border: 1px solid black;
    font-weight: bold;
    color: white;
}

.cg-e {
	font-weight: bold;
}

.cg-e input[type="text"]:disabled {
	background-color: white;
	border: 1px solid #d6d6d6;
	padding: 5px;
}

.btn:focus {
  box-shadow: 0 0 0 2px #4000dc;
}

.btn-excel img {
	width: 50%;
}

.trcarga {
	font-size: 0.96em;
}

.card img {
	width: 100%;
}

.btn-primary {
    color: #fff;
    background-color: #000daa;
    border-color: #025aa5;
}

.table-sm th, .table-sm td {
    padding: 0rem;
}

.titles-main .col-3 {
	font-size: smaller;
}

.titles-main select {
	background-color: white;
}


.titles-main input[type="number"] {
	width: 20%;
}

.pid {
	margin-left: 25%;
}