html,
body {
	padding: 0;
	margin: 0;
}

body {
	font-family: -apple-system, 'Helvetica Neue', Helvetica, sans-serif;
}

header {
	position: absolute;
	width: 500px;
	height: 250px;
	top: 50%;
	left: 50%;
	margin-top: -125px;
	margin-left: -250px;
	text-align: center;
}

header h1 {
	font-size: 60px;
	font-weight: 100;
	margin: 0;
	padding: 0;
}



.logo img {
	width: 100%;
}
.title-tub-amoniaco {
	background-color: #000daa;
	color: white;
}

.sel-evap-img {
	width: 100%;
	border: 1px solid blue;
}

.sel-evap-directiva {
	background-color: #ececec;
}

.sel-evap .sistemas button {
	background-color: #d6d6d6;
    border: 1px solid grey;
    border-radius: 0px 10px 1px 0px;
    padding: 2px;
    margin: 1px;
}