<div class="row sel-evap-directiva">
	<div class="col-5 p-4">
		<img class="sel-evap-img" src="{{$ctrl.img}}">
	</div>
	<div class="col-7">
		<h2>Datos a procesar:</h2>
		<div class="row">
			<div class="col-3">Descongelamiento: <select class="form-control">
				<option>Gas Caliente</option>
				<option>Eléctrico</option>
				<option>Agua</option>
			</select>
		</div>
		<div class="col-3">Temperatura: [F]  <select ng-model="$ctrl.tempSel"><option ng-repeat="it in $ctrl.succion" ng-value="{{it.temperatura}}">{{it.temperatura}}</option></select></div>
		<div class="col-3">Carga Termica Total <input ng-model="$ctrl.cargaTotal" class="form-control" type="number" name=""/></div>
		<div class="col-3">N Evaporadores<input ng-model="$ctrl.numeroEvaporadores" class="form-control" type="number" name=""/></div>
	</div>
	<div class="row">
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Cargar Termica Evaporadores(TR)</th>
					<th scope="col">{{$ctrl.cargaTotal/$ctrl.numeroEvaporadores}}</th>
					<th scope="col">Valvulas</th>
				</tr>
				<tr>
					<th scope="col">NOMBRE</th>
					<th scope="col">UBICACIÓN</th>
					<th scope="col">MODELO</th>
					<th scope="col">TAMAÑO</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in $ctrl.listTable">
	                <td>{{item.nombre}}</td>
	                <td>{{item.ubicacion}}</td>
	                <td>{{item.modelo}}</td>
	                <td>{{$ctrl.calcTam(item.ubicacion)}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	</div>
</div>