<div class="row sel-evap-directiva p-4">
	<div class="col-5 p-4">
		<img class="sel-evap-img" src="{{$ctrl.img}}">
	</div>
	<div class="col-7">
		<h2>Datos a procesar:</h2>
		<div class="row">
			<div class="col-3">DESCONGELAMIENTO:
				<select id="descongelamiento" ng-change="$ctrl.updateTab()" class="form-control" ng-model="$ctrl.des" ng-change="$ctrl.cambiaDescongelamiento()">
					<option ng-repeat="ub in $ctrl.descongelamiento" value="ub" ng-value="ub">{{ub}}</option>
				</select>
			</div>
			<div class="col-3">TEMPERATURA: [F]  <select id="temperatura" ng-change="$ctrl.updateTab()" class="form-control" ng-model="$ctrl.tempSel">
				<option ng-repeat="it in $ctrl.succion" value="{{it.temperatura}}" ng-value="it.temperatura">{{it.temperatura}}</option>
			</select></div>
			<div class="col-3">CARGA TERMICA <input id="carga-termica" ng-change="$ctrl.updateTab()" ng-model="$ctrl.cargaTotal" class="form-control" type="number" min="0" name=""/></div>
			<div class="col-3">N EVAPORADORES<input id="n-evaporadores" ng-change="$ctrl.updateTab()" class="form-control" ng-model="$ctrl.numeroEvaporadores" class="form-control" type="number" min="0" name=""/></div>
		</div>
		<div class="row">
			<div class="mt-2 cg-e">
				CARGA TERMICA EVAPORADORES(TR) 
				<input class='col-2 text-center' type="text" disabled value="{{$ctrl.cargaTotal/$ctrl.numeroEvaporadores || 'Sin datos'}}"/>
			</div>
			<div class="col-lg-12 text-center valvulas-title mt-2">VALVULAS</div>
			<div ng-if='$ctrl.loadingTable'><i class="fa fa-cog fa-spin"></i> Cargando...</div>
			<table ng-if='!$ctrl.loadingTable' class="table table-bordered table-sm table-responsive">
				<thead>
					<tr class="title-rejas">
						<th  scope="col">ABREV.</th>
						<th  scope="col">NOMBRE</th>
						<th  class="text-center" scope="col">UBICACIÓN</th>
						<th  scope="col">TAMAÑO</th>
						<th class="col-lg-4 text-center" scope="col">MODELO</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in $ctrl.generalList">
						<td class="rejilla text-center">{{item.alias}}</td>
						<td class="rejilla text-center">{{item.nombre.replace('X', $ctrl.selectedTab)}}</td>
						<td class="rejilla text-center" style="width: 42%;">{{item.ubicacion}}</td>
						<td class="rejilla text-center">{{$ctrl.calcTam(item.ubicacion)}}</td>
						<td class="rejilla text-center" ng-if="item.modelo !== 'Válvula Pilotada CK2 SW FLG, W/Piloto 110V'">{{item.modelo}}</td>
						<td class="rejilla text-center" ng-if="item.modelo === 'Válvula Pilotada CK2 SW FLG, W/Piloto 110V'">{{$ctrl.modelByTemp()}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>